* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 15vw;
    font-family: 'Spline Sans', sans-serif;
    font-size: 4rem;
}