* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background: linear-gradient(darkred, red) no-repeat;
    background-size: cover;
    color: white;
    margin-top: 2rem;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
    text-align: center;
}

#firstImg {

}

h1 {
    font-family: 'Spline Sans', sans-serif;
    font-size: 4rem;
    text-shadow: black 2px 5px;
    text-align: center;
}

#logo {
    border: black 3px solid;
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 20vw;
}

li{
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding: 0.2em;
}

li:hover {
    background-color: rgba(139, 0, 0, 0.49);
}

.list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
    border: black 3px solid;
    margin-top: -6rem;
    z-index: 2;
}


.little {
    display: none;
    position: absolute;
    z-index: 2;
    margin-top: 2.5rem;
    background-color: darkred;
    padding: 0.5rem;
}

nav > ul li:hover .little {
    display: block;
}

.little > li {
    padding: 0.5rem;
}

.title {
    font-size: 4rem;
    text-shadow: black 2px 5px;
    text-align: center;
    font-style: italic;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 1.5rem;
}

input, label {
    margin-top: 1rem;
}

#intro {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

tr, td {
    margin-top: 2rem;
    border: black double 4px;
    font-size: 2.5rem;
    padding: 0.5rem;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
#notice {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 3rem;
}

#under {
    margin-top: 1rem;
}

.back-menu {
    font-size: 1.5rem;
    margin-left: 2rem;
}

footer {
    position: absolute;
    top: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: darkred;
    width: 100%;
}

#contact, #open {
    text-align: center;
}

#copy {
    text-align: right;
}

#category {
    color: black;
    width: 5rem;
}

pre {
    font-size: 1.5rem;
}

.artTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.img > img {
    width: 46rem;
    border: black 8px solid;
    box-shadow: black 1px 1px 4px 4px;
}

.imgContent > img {
    width: 25rem;
    border: black 8px solid;
    box-shadow: black 1px 1px 1px 1px;
    margin-left: 3rem;
}

#contentBig {
    display: inline-block;
}

#contentBig > .article > .artTitle {
    margin-left: 4rem;
}

.textContent {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#shop-actu {
    width: 80%;
    margin-top: 1rem;
    border: white 2px solid;
    box-shadow: black 3px 3px 4px 4px;
    margin-left: 12vw;
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

#formInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.imgArticle {
    width: 15vw;
}